{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Razorpay Test Payment</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="payment-box">
    <h2>Pay ₹100</h2>
    <button type="button" id="pay-btn">Pay Now</button>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
document.getElementById("pay-btn").onclick = function () {

    var options = {
        "key": "{{ razorpay_key }}",
        "amount": "{{ amount }}",
        "currency": "INR",
        "order_id": "{{ order_id }}",
        "name": "Test Payment",

        "callback_url": "http://127.0.0.1:8000/success/",
        "redirect": true,

        "theme": {
            "color": "#3399cc"
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();
};
</script>

</body>
</html>
